.P-Header{
    background-color: rgba(144, 141, 141, 0.475);
    text-align: center;
  }
  body{
    color: rgb(249, 215, 249);
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin:auto;
  background-image: url("nube.jpg");
  }
  .innerclass{
    display: grid;
    height: 80vh;
    margin: 20px auto auto auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(144, 141, 141, 0.475);  
    }
  .outerclass{
    height: 15vh;
    margin: 200px auto auto auto;
    /* background-color: rgba(155, 14, 14, 0.606);  */
    grid-area: 1 / 1 / 5 / 4;
  }
  .footer-p{
  background-color: rgb(0, 0, 0);
  text-align: center;
  }
  .button {
    background-color: rgb(249, 215, 249);
    width: 100%;
    margin:auto;
   
  }